@model CallStatistic.Models.Calls

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Calls</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dateOf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dateOf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fromPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fromPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.toPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.toPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.duration)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
